/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/

#site-intro a img.circle {
  height: 128px;
  width: 128px;
}

.post header .meta p.series {
  line-height: 1.5em;
  margin-top: .5em;
}

.post header .meta p.series a {
  font-weight: 800;
}

.content > div, .content > p {
  margin: 0 1em;
}

.content > img {
  max-width: 100%;
  margin: 1em 1em;
}

.content > img.responsive {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 1em 1em;
  display: block;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-top: 1em;
}

div.gallery a {
  flex-grow: 1;
  object-fit: cover;
  margin: 2px;
  display: flex;
  overflow: hidden;
}

div.gallery a img {
  height: 200px;
  object-fit: cover;
  flex-grow: 1;
/*
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  -o-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
*/
}

div.gallery a img:hover {
/*
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);
*/
}

#blog-series ul li, #categories ul li {
  font-size: .7em;
}

#blog-series ul li:not(:last-child), #categories ul li:not(:last-child) {
  padding-bottom: .75em;
}

ul.series-navigation li a.left, ul.series-navigation li a.right {
  border-bottom: none;
}
.series-navigation::before {
  content: "\f0c5";
}