{{ define "main" }}
  <header>
    <h1>{{ i18n .Data.Plural }}</h1>
  </header>
  {{ $firstSeries := true }}
  {{ range .Data.Terms.Alphabetical }}
    <details{{ if $firstSeries }} open{{ end }}>
    <summary class="series">{{ .Page.Title }}</summary>
    <ul class="posts">
      {{ range .Pages.ByDate }}
      <li>
        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      </li>
      {{ end }}
    </ul>
    </details>
    {{ $firstSeries = false }}
  {{ end }}
  {{ $.Scratch.Set "showSeries" false }}
{{ end }}